body{
     
}

.Inicio-de-sesion{

    text-align: center ;
    border: 5px solid black;
    width: 600px;
    /* margin-left: 250px;
    margin-right: 250px; */
    padding: 10px 20px;   
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;   
    


}

.formulario__login{
/* text-align: center ; */

}






